.two-flex-col-container {
    display: flex;
    align-items: flex-start;
    width: 100%;

    .col1 {
        width: 55%;
        border: 1px solid $color-grey-2;
        border-top: 0;
    }

    .col2 {
        margin-left: 1rem;
        width: 45%;
    }
}