.icon-button,.link-button{
    width: 300px;
    text-decoration: none;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    border: 1px solid $color-grey-2;
    border-radius: 20px;
    font-size: $icon-tiny-size;
    font-weight: 300;
    background-color: transparent;
    outline: none;
    padding: 0.5rem 2rem;
    margin-top: 0.5rem;
    @include flexJustifyCenter;
    .icon-container{
        margin-right: 0.2rem;
        font-size: $icon-tiny-size;
    }
    img{
        width: $icon-tiny-size;
        height: $icon-tiny-size;
    }
    &:hover{
        background-color: $color-grey-2;
    }
}
.tweet-round-btn{
    position: fixed;
    bottom: 100px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    padding: 0;
    z-index: 100;
    border: 0;
    .icon-container{
        @include flexJustifyCenter;
        color: $color-white;
    }
    background-color: $color-secondary-light;
    
}