.tweets-search-news-sections {

    .tweet-sections {

        .tweets {
            border: 1px solid $color-grey-2;
            margin-top: 0.5rem;
        }
    }
    .searchbar-news-sections-wrap{
        width: 350px;
    }
}
