.userpage {
    background-color: #fff;

    .user-section {
        align-self: stretch;
        position: relative;

        .bc-image-container {
            width: 100%;
            height: 200px;
            position: relative;
            .bc-image {
                @include fullWidthHeightCoverImage;
            }
        }

        .user-details {
            position: relative;

            .profile-pic-container-two {
                cursor: pointer;
                position: absolute;
                z-index: 10;
                height: 130px;
                width: 130px;
                bottom: calc(100% - 70px);
                left: 15px;

                @include for-phone-only-500{
                    width: 100px;
                    height: 100px;
                }

                .profile-pic {
                    @include fullWidthHeightCoverImage;
                    border-radius: 100%;
                }
            }

            .profile-options {

                display: flex;
                align-items: center;
                justify-content: flex-end;

                .edit-profile-btn {
                    max-width: 110px;
                    font-size: 15px;
                    padding: 0.5rem;
                    // border-radius: 20px;
                    margin-top: 0.8rem;
                    margin-right: 0.8rem;
                    font-weight: 700;
                    border: 1px solid $color-grey-2;
                    background-color: transparent;
                    transition: all 500ms ease-in-out;

                    &:hover {
                        background-color: $color-grey-2;
                    }
                }
                .following-btn{
                    &:hover{
                        background-color: rgba($color: $color-red, $alpha: 0.1);
                        color: red;
                    }
                }
            }

            .user-other-details {
                padding: 0.5rem;
                margin-top: 3rem;
                color: $color-black-2;
                .container {
                    margin-bottom: 0.7rem;
                }
                .user-fullname-container {
                    .user-fullname {
                        font-weight: 700;
                        font-size: 20px;
                    }

                    .user-username {
                        display: block;
                        color: $color-grey-1;
                    }
                }

                .user-sitelink-joindate-container {
                    @include flexCenter;
                    color: rgb(83, 100, 113);
                    @include for-phone-only-500{
                        flex-wrap: wrap;
                    }
                    .icon-container {
                        color: $color-grey-1;
                        margin-right: 0.5rem;
                    }

                    
                    .user-location,.sitelink-container,.joindate-container{
                        margin: 0.1rem ;
                    }
                    .user-location,
                    .sitelink-container {
                        margin-right: 1.5rem;
                    }
                }

                .user-follow-container {
                    @include flexCenter;

                    .followings-info,
                    .followers-info {
                        margin-right: 0.7rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

            }
            .user-other-links{
                border-bottom: 1px solid $color-grey-2;
                overflow: hidden;
                .user-links::-webkit-scrollbar{
                    display: none
                }
                .user-links{
                    @include flexCenter;
                    overflow-x:auto ;
                    overflow-y: hidden;
                    .user-link{
                        position: relative;
                        padding: 1rem;
                        transition: background-color 500ms ease-in-out;
                        flex: 1;
                        text-align: center;
                        white-space: nowrap;
                        color: rgb(83, 100, 113);
                        
                        @include for-phone-only-500{
                            font-size: 1rem;
                        }
                        &:hover{
                            background-color: $color-grey-2;
                        }
                    }
                    .active-other-link{
                        color: $color-black;
                        font-weight: 600;
                        .custom-border-bottom{
                            position: absolute ;
                            bottom: 0;
                            left: 50%;
                            right: 50%;
                            transform: translate(-50%);
                            display: block;
                            width: 50px;
                            height: 4px;
                            // margin-top: 0.5rem;
                            background-color: $color-secondary-light;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }

    .follow-news-suggetions {
        max-width: 350px;
    }


}