.heading-1 {
    font-size: 2rem;
    cursor: pointer;
    color: $color-secondary;
    a{
      text-decoration: none;
      color: $color-secondary;
    }
  }
  
  .heading-2 {
    font-size: 3rem;
    color: $color-black;
  }
  
  .heading-3 {
    font-size: 1.5rem;
    color: $color-black;
    letter-spacing: 0.5px;
  }
  
  .heading-4 {
    font-size: 1.4rem;
    color: $color-black;
  }

  .default-link{
    text-decoration: none;
    color: $color-secondary-light;
  }

  .standard-link{
    text-decoration: none;
    color: $color-black-secondary;
    &:hover{
      text-decoration: underline;
    }
  }