.send-tweet-model-wrap{
    display: unset;
    align-items: unset;
    justify-content: unset;
    .root-model{
        margin-top: 2rem;
    }
    .send-tweet{
        margin-top: 2rem;
        border: 0;
        .send-tweet-heading{
            display: none;
        }
    }
    .tweet-header{
        color: $color-black;
        font-size: 1.2rem;
        .close-btn{
            cursor: pointer;
        }
    }
}