.explorepage {
    .top-header {
        padding: 0 0.8rem;
        @include flexJustifyBetween;
        .explorepage-searchbar {
            width: 90%;
            margin-right: 0.2rem;
            .search-input-label{
                 width: 100%;
            }
           
        }
        .icon-container{
            font-size: 1.2rem;
        }
    }

}