.homepage{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 0.5rem;
    .main{
        width: 75%;
        height: 100%;
        @include for-big-desktop-down{
            width: 90%;
        }
        @include for-phone-only-500{
            width: 100%;
            margin-bottom: 5rem;
        }
        .main-wrapper{
            // overflow: auto;
            display: flex;
            align-items: flex-start;
            width: 100%;
            height: 100%;
        }
        .container{
            background-color: #fff;
            height: 100%;
        }.wrap-input-tweets{
            width: 55%;
            @include for-tablet-landscape-down{
                width: 100%;
            }
        }
        .with-searchbar-suggetions{
            width: 50%;
        }
    }
    
    
}