.tweetpage {
    background-color: #fff;
    

    .fpc-1 {
        align-self: stretch;
    }

    .tweetpage-header {
        position: sticky;
        top: 0px;
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(12px);
        padding: 0 0.5rem;
        cursor: pointer;
    }


    .user-tweet-content {
        .retweet-wrap{
            margin-bottom: 3rem;
        }
        .tweetpage-send-tweet{
            border-top: 1px solid #EFF3F4;
        }
        position: relative;
        height: 100%;
        .replying-to {
            margin: 1rem 0;
            color: $color-grey-1;
            margin-left: 1rem;
        }
    }

    .tweet-sugg-news-container {
        .tweet-sugg-news-wrap {
            max-width: 350px;
        }
    }

}