*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include noHighlightOnSelect;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #fff;
  color: $color-black;
  font-family: Arial, Helvetica, sans-serif;
}

// main {
//   overflow: hidden;
// }

a {
  color: $color-black;
  text-decoration: none;
}

.dark {
  color: #fff;
  background-color: #333;
}

.dark .button {
  color: $color-black;
  background-color: #fff;
}